/* Full page background */
.login-container {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/images/login-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
}

/* White box */
.login-box {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

/* Input fields */
.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

/* BLUE Login button */
.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #007bff;       /* BLUE */
  color: blue;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.login-btn:hover {
  background: #0056b3;       /* darker BLUE when hover */
}

/* Register link styling */
.register-link {
  margin-top: 10px;
  font-size: 14px;
}

.register-link a {
  color: #007bff;            /* BLUE */
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  color: #0056b3;            /* darker blue */
  text-decoration: underline;
}
