.sidebar{
  width:240px;
  background: linear-gradient(180deg,#0d6efd,#0b5ed7);
  color:white;
  height:100vh;
  padding:26px;
  box-shadow: 2px 0 8px rgba(0,0,0,0.08);
  position: fixed;
}

.sidebar h2{ text-align:center; margin-bottom:20px; }
.sidebar nav a{ display:block; color:white; text-decoration:none; margin:14px 0; }
